<!DOCTYPE html>
<html>
    <body>
        <h3>Enter a Zip Code</h3>
        <form action="/zipcode" method="POST">
            <input name="user_zipcode" type="text" placeholder="Zip Code" autocomplete="off" value="">
            <button type="submit">Search</button>
        </form>
        {% if zipcode %}
            <label>{{zipcode.zipcode}} — {{zipcode.city}}, {{zipcode.state}}</label>
            <table>
                <thead>
                    <th>ID</th>
                    <th>Product ID</th>
                    <th>Item Name</th>
                    <th>Store ID</th>
                    <th>Zip Code</th>
                    <th>Price</th>
                    <th>Unit</th>
                    <th>Price per Unit</th>
                </thead>
                {% for item in pricingInfo %}
                    {% if item.zipcode == zipcode.zipcode %}
                        <tbody>
                            <td>{{item.id}}</td>
                            <td>{{item.product_id}}</td>
                            <td>{{item.item_name}}</td>
                            <td>{{item.store_id}}</td>
                            <td>{{item.zipcode}}</td>
                            {% if item.pre_price_text and item.post_price_text%}
                                <td>{{item.pre_price_text + "$" + item.price|string + item.post_price_text}}</td>
                            {% else %}
                                <td>{{item.price}}</td>
                            {% endif %}
                            <td>{{item.unit}}</td>
                            {% if item.unit %}
                                <td>{{item.price/item.unit[:-3] | float}}</td>
                            {% else %}
                                <td>{{None}}</td>
                            {% endif %}
                            <td><img src={{item.image_url}}></img></td>
                        </tbody>
                    {% endif %}
                {% endfor %}
            </table>
        {% endif %}
        <br>
        <a href='/admin'>Admin Link</a>
    </body>
</html>